@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.App{
    width: 100vw;
    height: 100vh;
    background: rgb(24,11,33);
    background: linear-gradient(90deg, rgba(24,11,33,1) 0%, rgba(23,2,2,1) 50%, rgba(20,14,6,1) 100%);
}

.divider{
    position: absolute;
    margin-top: 85vh;
    width: inherit;
    height: .1px;
    border: solid;
    border-width: 1px 0;
    border-color: white;
}

.whoarewe{
    position: absolute;
    font-family: 'Aleo', serif;
    color: red;
    font-size: 20pt;
    letter-spacing: 1.5px;
    padding: 15px;
}

.whatplace{
    width: 45vw;
    padding: 15px;
    height: fit-content;
    position: absolute;
    margin-top: 50vh;
}

.whatwedo{
    font-family: 'Aleo', serif;
    color: white;
    text-transform: uppercase;
    font-size: 39pt;
    font-weight: bolder;
}

.elaborate{
    color: white;
    height: fit-content;
    position: absolute;
    width: 20vw;
    font-family: 'Comfortaa', serif;
    font-size: 12pt;
    margin-top: 69vh;
    margin-left: 48vw;
}

.instantplace{
    position: absolute;
    width: 22vw;
    height: 75vh;
    border-radius: 20px;
    margin-left: 75vw;
    margin-top: 6vh;
    z-index: 1;
    overflow: hidden;
    /* background-color: white; */
    background: rgba( 32, 8, 32, 0 );
    box-shadow: 0 8px 30px 0 rgba(131, 64, 148, 0.185);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.checkTitle{
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18pt;
    margin-top: 5%;
}

.sendPut{
    width: 80%;
    margin-left: 9.5%;
    font-size: 14pt;
    font-family: 'Aleo', serif;
    background-color: transparent;
    color: rgb(160, 133, 255);
    border: solid;
    margin-top: 5%;
    height: 30%;
    border-radius: 5px;
    border-width: .5px;
    border-color: rgba( 255, 255, 255, 0.18 );
    text-align: start;
}

.sendIns{
    color: white;
    font-size: 10pt;
    width: 80%;
    margin-left: 9.5%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Aleo', serif;
}